<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @allanfearn.timestamp %>
</p>

<p>
  <strong>Value:</strong>
  <%= @allanfearn.value %>
</p>

<%= link_to 'Edit', edit_allanfearn_path(@allanfearn) %> |
<%= link_to 'Back', allanfearns_path %>
