<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @dalmarnock.timestamp %>
</p>

<p>
  <strong>Value:</strong>
  <%= @dalmarnock.value %>
</p>

<%= link_to 'Edit', edit_dalmarnock_path(@dalmarnock) %> |
<%= link_to 'Back', dalmarnocks_path %>
