<%= form_with(model: harelaw, local: true) do |form| %>
  <% if harelaw.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(harelaw.errors.count, "error") %> prohibited this harelaw from being saved:</h2>

      <ul>
      <% harelaw.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :timestamp %>
    <%= form.text_field :timestamp %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
