<p id="notice"><%= notice %></p>

<h1>Harelaws</h1>

<table>
  <thead>
    <tr>
      <th>Timestamp</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @harelaws.each do |harelaw| %>
      <tr>
        <td><%= harelaw.timestamp %></td>
        <td><%= harelaw.value %></td>
        <td><%= link_to 'Show', harelaw %></td>
        <td><%= link_to 'Edit', edit_harelaw_path(harelaw) %></td>
        <td><%= link_to 'Destroy', harelaw, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Harelaw', new_harelaw_path %>
