<p id="notice"><%= notice %></p>

<p>
  <strong>Timestamp:</strong>
  <%= @harelaw.timestamp %>
</p>

<p>
  <strong>Value:</strong>
  <%= @harelaw.value %>
</p>

<%= link_to 'Edit', edit_harelaw_path(@harelaw) %> |
<%= link_to 'Back', harelaws_path %>
