<%= form_with(model: rainfall, local: true) do |form| %>
  <% if rainfall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rainfall.errors.count, "error") %> prohibited this rainfall from being saved:</h2>

      <ul>
      <% rainfall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :timestamp %>
    <%= form.text_field :timestamp %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
